#myCanvas {
	  
	  border: 1px solid grey;
	  margin-left:380px;
	  margin-top:45px;
	  position: absolute;
	}

	#animationCanvas {

		border: 1px solid green;
		position: relative;
		left: 400px;
		top: 65px;
	}

	#p_1 {

		position: absolute;
		left:10px;
	}

	#p_2 {

		position: absolute;
		top : 30px;
		left:10px;
	}

	#p_3 {
		position: absolute;
		top : 250px;
		left:10px;
	}